$main-color:#fb7813;
$second-color:#17706e;
$third-color:#442e75;
$main-shadow: 1px 1px 2px 4px #eee, -1px -1px 10px 10px #eee;
$main-radius:10px;
$main-transation:.6s;
$main-font:'Amiri', serif;
$second-font: 'Harmattan', sans-serif;
//  $second-font:'Jomhuria', cursive;

a{
  transition: $main-transation;  
}

*{
    padding: 0;
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
}
.btn:focus , .form-control{
    box-shadow: unset!important;
    outline: none;
    border-color: #eee!important;
}
.btn{
    transition: $main-transation;
}
::-webkit-scrollbar{
	background-color: #fff;
	width: 8px;
}
::-webkit-scrollbar-thumb{
	background-color: $main-color;
	border: .5px solid $second-color;
	border-radius: 10px;    ;
	-webkit-border-radius: 10px    ;
	-moz-border-radius: 10px    ;
	-ms-border-radius: 10px    ;
	-o-border-radius: 10px    ;
}
@mixin background-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
@mixin input{
    padding: 5px 15px;
    border: 1px solid #ccc;
    line-height: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,.07);
    border-radius: $main-radius;
}


