@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import "varibles";

// ............................................
.main-color {
    color: $main-color;
}

.second-color {
    color: $second-color;
}

.third-color {
    color: $third-color;
}

nav{

    background-color: #fff;
    .top-nav {
        padding: 10px 50px;
        border-bottom: 1px solid #f8f8f8;
        a{
            color: #827c7c;
            font-family: $second-font;
            font-size: 23px;
        }
    }
    .main-nav {
        padding: 0 50px;
        .logo img{
            width: 100px;
            height: 100px;
        }
        .main-nav-links{
            width: 60%;
            li a{
                color: #333;
                font-size: 20px;       
               font-family: $main-font;
               transition: $main-transation;
            &:hover{
                color: $main-color;
            }
        }
            
        }
    }
    i{
        font-size: 16px;
        padding: 0 5px;
        transition: $main-transation;
        &:hover{
            color: $main-color;
        }
    }
}
// .................................................................................
.home-slider{
    overflow: hidden;
    .swiper-home{
        img{
            width: 100%;
            height: 400px;
        }
    }
}
// *******************************************************************************
.second-home-section{
    h2{
        font-family: $main-font;
        font-size: 40px;
        margin-bottom: 18px;

    }
    h5{
        font-size: 18px;
        color: #514e4e;
        font-weight: bold;
        margin-bottom: 20px;
        font-family: $main-font;

    }
    p{
        font-family: $second-font;
        font-size: 17px;
        color: #837f7a;

    }
 .img-left{
     position: relative;
     img{
        width: 350px;
        height: 450px;
     }
     .first-img{
        position: absolute;
        top: 21px;
        right: 4px;
        transition: .6s;
        &:hover{
            transform: translateY(10px);
        }
    }
 }
}
// .......................................................................................
.about-safi{
    img{
        width: 100%;
        height: 250px;
        transition: .6s;
        &:hover{
            transform: scale(1.2);
        }
    }
    .col-md-3{
        padding: 0;
        overflow: hidden;
    }
    p{
        padding: 10px;
        font-family: $second-font;
        font-size: 18px;
    }
    .back-green{
      color: #fff;
      background-color: $second-color;
    }
    .back-orng{
        color: #fff;
        background-color: $main-color;
    }
}
// *********************************************************************
.new-servive-container {
    height: 420px;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
    display: flex;
    transition: all .6s cubic-bezier(.3,.58,.55,1);
}
.new-servive-container:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    content: '';
    background: linear-gradient(to bottom,rgba(15,15,15,0),rgba(15,15,15,.75) 100%);
    transition: opacity .65s cubic-bezier(.05,.2,.1,1);
    opacity: 0;
}
.new-servive-container .inner-wrap:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    content: '';
    background: linear-gradient(to bottom,rgba(15,15,15,0),rgba(15,15,15,.75) 100%);
    transition: opacity .65s cubic-bezier(.05,.2,.1,1);
}
.new-servive-container .overflow-inner {
    padding: 0;
    width: 100%;
    align-self: flex-end;
}
.new-servive-container .inner-wrap {
    display: flex;
    position: relative;
    width: 100%;
    padding: 20px;
}
.overflow-inner .header-wrap {
    transform: translateY(0px);
    position: relative;
    z-index: 2;
    transition: opacity .65s cubic-bezier(.05,.2,.1,1),transform .65s cubic-bezier(.05,.2,.1,1);
    max-width: 80%;
}
.overflow-inner .header-wrap i{
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}
.hover-content {
    color: #fff;
    opacity: 0;
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 20px;
    transform: translateY(20px);
    width: calc(100% - 40px);
    transition: opacity .18s cubic-bezier(.05,.2,.1,1),transform .18s cubic-bezier(.05,.2,.1,1);
    text-transform: capitalize;
    font-family: $main-font;
}
.par1 {
    background-image: url(../images/natural-water.jpg);
}
.par2 {
    background-image: url(../images/olive-oil.jpg);
}
.par3 {
    background-image: url(../images/olives-on-the-plate-5931.jpg);
}
.par4 {
    background-image: url(../images/selective-f-jar-3693294.jpg);
}
.new-servive-container:hover {
    box-shadow: 0 25px 55px rgba(0,0,0,.22);
}
.new-servive-container:hover:before {
    background-color: transparent;
    background-image: linear-gradient(180deg,rgba(0,69,255,0) 0%,#fb7813 100%);
    opacity: 1;
}
.new-servive-container:hover .inner-wrap:before {
    opacity: 0;
}
.new-servive-container:hover .hover-content {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity .65s cubic-bezier(.05,.2,.1,1) .15s,transform .65s cubic-bezier(.05,.2,.1,1) .15s;
}
.new-servive-container:hover .header-wrap {
    transform: translateY(-100px);
}
// ......................................................................................../..
.certficate{
    .swiper-slide{
        text-align: center;
        // box-shadow: 1px 1px 2px 4px #eee, -1px -1px 10px 10px #eee;
        margin-top: 20px;
        padding: 5px 0;
        border-radius: 7px;
        border: 1px solid #eee;
    }
    .swiper-button-prev, .swiper-button-next{
        background-image:unset!important;
        top: 8px;
        font-size: 25px;
        transition: .6s;
        &:hover{
            color: $main-color;
        }
    }
    .swiper-button-next{
        right: 70px!important;
    }
    .swiper-button-prev{
        right: 25px!important;
    }
}
// ..............................................................
footer{
    background-image: url(../images/dotted-map.png);
    background-color: #282932;
    .call-center{
        margin: auto;
        width: 90%;
        overflow: hidden;
        img{
            width: 500px;
            height: 200px;
            border-radius: 10px 0 0 10px;
            transition: .6s;
            &:hover{
                transform: scale(1.09);
            }
        }
        .call-contact{
            width: 500px;
            background-color: $second-color;
            text-align: center;
            /* padding: 10px 0; */
            padding-top: 19px;
            color: #fff;
            border-radius: 0px 10px 10px 0px;
            p{
                font-size: 35px;
                font-weight: bold;
                font-family: $main-font;
            }
        }
    }
    .img-footer{
        text-align: center;
        margin-top: 10px;
        img{
            width: 100px;
        }
        p{
            color: #fff;
            font-family: $second-font;
            font-size: 22px;
        }
    }
    .social-footer{
        text-align: center;
        i{
            color: $second-color;
            padding: 0 12px;
            font-size: 25px;
            transition: .7s;
            &:hover{
              color: #fff;
            }
         }
    }
    hr{
        border-color: $main-color;
    }
    .copyright{
        p{
            text-align: center;
            color: #fff;
            font-size: 22px;
            font-family: $second-color;
            padding-bottom: 15px;
            a{
                color:$main-color;
                font-weight: bold;
            }
        }
    }

}